body {
    background-color: rgb(60, 70, 80);
}

.form {
    background-color: #ffffff;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
    width: 40%;
    text-align: center;
}

.main-content {
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}

.form-row {
    padding-top: 2px;
    padding-bottom: 2px;
}

input,
select {
    width: 100%;
}

.site-title {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 70px;
    padding-bottom: 2%;
}

.site-description {
    color: aliceblue;
    text-align: justify;
}

.info-title {
    text-align: center;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 56px;
    color: yellow;
}

.info-message {
    text-align: center;
    color: yellow;
}

.info-message a {
    color: aqua;
}

.error-msg-container {
    color: red;
}