.roundbox {
    border-radius: 10px;
}

.select_option {
    background-color: white;
    color: black;
}

.select_option_selected {
    background-color: white;
    color: black;
}

a:hover {
    color: darkblue;
}

.clickable:hover {
    cursor: pointer;
}

.center {
    text-align: center;
    margin: auto;
}

.border {
    border: 1px solid #000;
}

select,
input,
body,
textarea,
.small-font {
    font-size: 10pt;
}

.my-icon-class {
    padding-left: 0%;
    padding-right: 0%;
}

.vertical-align-center {
    margin-top: auto;
    margin-bottom: auto;
}

input {
    text-overflow: ellipsis;
}

ul,
li {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
}

input[type="file"]::file-selector-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

input[type="submit"],
button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10pt;
}

form,
li {
    padding-bottom: 20px;
}

input[type="file"]::file-selector-button:hover {
    cursor: pointer;
}

input[type="text"],
textarea,
select {
    /* 
    Configurations that have to be consistent: 
    - testr-template.css > .form-widgets-area
    - widgets.css > labels 
    - widgets.css > input,textarea,etc. 
    */
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

label {
    /* 
    Configurations that have to be consistent: 
    - testr-template.css > .form-widgets-area
    - widgets.css > labels 
    - widgets.css > input,textarea,etc. 
    */
    vertical-align: top;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}