asgiref==3.5.0
autopep8==1.6.0
cycler==0.11.0
Django==4.0.3
fonttools==4.32.0
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
pycodestyle==2.8.0
psycopg2
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
seaborn==0.11.2
six==1.16.0
sqlparse==0.4.2
tenacity==8.0.1
toml==0.10.2
tzdata==2022.1