asgiref
autopep8
cycler
Django
fonttools
kiwisolver
matplotlib
numpy
openpyxl
packaging
pandas
Pillow
pycodestyle
psycopg2
pyparsing
python-dateutil
pytz
seaborn
six
sqlparse
tenacity
toml
tqdm
tzdata