
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>Testr</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'testr/external/bootstrap-icons.css' %}">
    <link href="{% static 'testr/external/bootstrap.min.css' %}" rel="stylesheet" type='text/css'>
    <link href="{% static 'testr/external/roboto.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'testr/external/montserrat.css' %}" rel='stylesheet' type='text/css'>

    <link href="{% static 'testr/css/registration.css' %}" rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container-fluid main-content">
        <div class="row">
            <div class="col">
                <center>
                    <div class="site-title">
                        <i class="bi bi-pc-display-horizontal"></i>
                        Testr
                    </div>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <center>
                    {% block content %}{% endblock %}
                </center>
            </div>
        </div>
    </div>
</body>

</html>