{% extends "testr/base.html" %}

{% block content %}

<div class="h1">Course Editor</div>

{% if perms.testr.change_course %}
<form action="" method="post">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>

    <div class="form-widgets-area">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <input class='btn btn-success' type="submit" value="Save" />
            </div>

            {% if course %}
            {% if perms.testr.delete_course %}
            <div class="ml-auto p-2">
                <a href="{% url 'course-delete' course.id %}">
                    <div class="btn btn-danger">
                        Delete
                    </div>
                </a>
            </div>

            {% endif %}
            {% endif %}

        </div>
    </div>
</form>

<br>
<hr>
<br>

{% if course %}
<div>
    <div class="h2">Import Studens</div>
    <div>
        Submit a csv file with the format "username;first name;last name;email;password".
        A header row is expected in the file. If an user does not have a profile, a new one
        will be created. Otherwise, the user with the given username will be enrolled in the course.
    </div>
    <br>
    <div>
        <form method='post' enctype="multipart/form-data" action="{% url 'course-batch-enroll' course.id %}">
            <div><input type="file" name="file" id="file" /></div> <br>
            <div><input class="btn btn-success" type="submit" name="file" id="file" value="Submit" /></div>
        </form>
    </div>
</div>

<div>
    <div class="h2"> Enrolled Students </div>
    <div>
        {% for e in enrollments %}
        <div> {{ e.student.username }}: {{ e.student.first_name }} {{ e.student.last_name }} </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endif %}

<br>
<div class="form-widgets-area">
    <a href="{{ request.META.HTTP_REFERER | escape }}">Back</a>
</div>

{% endblock %}