{% extends "testr/base.html" %}

{% block content %}

{% if perms.testr.change_question or question.visible %}

<div>
    <span class="h1">
        {{ question.name }}
        {% if solved %}
        <i class="bi bi-balloon-fill text-success"></i>
        {% endif %}
    </span>

    {% if perms.testr.change_question %}
    <a href="{% url 'question-update' question.id %}"><i class="bi bi-pencil"></i></a>
    {% endif %}

    {% if perms.testr.change_question %}
    <a href="{% url 'question-report' question.id %}"><i class="bi bi-person-lines-fill"></i></a>
    {% endif %}

    {% if perms.testr.delete_question %}
    <a href="{% url 'question-delete' question.id %}"><i class="bi bi-x-lg text-danger"></i></a>
    {% endif %}
</div>

<div class="question-deadline">
    <b>Deadline:</b> {{ question.submission_deadline }}
</div>

<div class="question-language">
    <b>Programming Language:</b> {{ question.language_label }}
</div>

<div class="question-description">
    <div> <b> Question: </b> </div>
    <br>
    <div> {{ question_html | safe }} </div>

    {% if question.questionfile_set.all %}
    <br>
    {% for file in question.questionfile_set.all %}
    <div>
        <div><a href="{% url 'get-question-file' question.id file.id %}">{{ file.file_name }}</a></div>
    </div>
    {% endfor %}
    {% endif %}
</div>

<br>

{% if question.evaluationinputoutput_set.all %}
<div> <b> Tests: </b> </div>
<hr>
<br>
{% endif %}

{% for test in question.evaluationinputoutput_set.all %}
{% if test.visible %}
<div class="row input_output_test">
    <div class="col">
        <div><b>Input {{ forloop.counter }}:</b></div>
        <div>{{ test.input_as_html | safe }}</div>
    </div>
    <div class="col">
        <div><b>Output {{ forloop.counter }}:</b></div>
        <div>{{ test.output_as_html | safe }}</div>
    </div>
</div>
{% endif %}
{% endfor %}

<hr>

{% if not question.submission_is_open %}
Submission deadline is over.
<br> <br>
{% endif %}

{% if question.submission_is_open %}
<form action="{% url 'question-submission' question.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>

    <div class="form-widgets-area">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <input class='btn btn-success' type="submit" value="Send">
            </div>
        </div>
    </div>
</form>
{% endif %}

{% if user_submissions %}
<div class="h2 text-center"> Submissions </div>
<div class="text-center">
    <a href="{% url 'question-rejudge' question.id %}"> Run Autojudge Again </a>
</div>
<br>
<div>
    <div class="row text-center submissions-header">
        <div class="col"> Filename </div>
        <div class="col"> Created At </div>
        <div class="col"> Status </div>
        <div class="col"> Report </div>
        <div class="col"> Options </div>
    </div>

    {% for submission in user_submissions %}
    <div class="row  text-center submissions-rows">
        <div class="col">
            <a href="{% url 'submission-file' submission.id %}">{{ submission.file_name }}</a>
        </div>
        <div class="col"> {{ submission.created_at }} </div>
        <div class='col submission-status-{{submission.status}}'>
            {{ submission.status_label }}
        </div>
        <div class="col">
            <a href="{% url 'submission-detail' submission.id %}"> View </a>
        </div>
        <div class="col">
            <a href="{% url 'submission-delete' submission.id %}"><i class="bi bi-x-lg text-danger"></i></a>
        </div>
    </div>
    {% endfor %}

</div>

{% else %}

<div>There are no submissions yet.</div>

{% endif %}

<br>
<br>

<div><a href="{% url 'course-detail' question.section.course.id %}">Back</a></div>

{% else %}

Question not found.

{% endif %}

{% endblock %}