{% extends "testr/base.html" %}

{% block content %}

<div class="h1">Question Editor</div>

{% if perms.testr.change_question %}
<form action="" method="post">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>

    <div class="form-widgets-area">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <input class='btn btn-success' type="submit" value="Save" />
            </div>

            {% if question %}
            {% if perms.testr.delete_question %}
            <div class="ml-auto p-2">
                <a href="{% url 'question-delete' question.id %}">
                    <div class="btn btn-danger">
                        Delete
                    </div>
                </a>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>

</form>
{% endif %}

{% if perms.testr.change_question %}
{% if question %}
<br>
<div>
    <div class="h2 text-center"> Add Files to Question </div>
    <div class="text-center">
        Files can be used to clarify the specification or in tests.
        They will be added to user's directories during tests.
    </div>

    <br>
    {% for file in question.questionfile_set.all %}
    <div>
        <div><a href="{% url 'get-question-file' question.id file.id %}">{{ file.file_name }}</a></div>
    </div>
    {% empty %}
    <div>No files yet.</div>
    {% endfor %}
    <br>

    <form action="{% url 'add-file-to-question' question.id  %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <ul>
            {{ file_upload_form.as_ul }}
        </ul>

        <div class="form-widgets-area">
            <div class="d-flex justify-content-between">
                <div class="p-2">
                    <input class='btn btn-success' type="submit" value="Save" />
                </div>
            </div>
        </div>
    </form>

</div>
{% endif %}
{% endif %}


<div class="in_out_tests">
    <div class="h2 text-center"> Input/Output Tests </div>
    <div class="text-center"> Left column is the input and right column is the output </div>
    <div class='text-center'>
        <a href="{% url 'question-create-in_out-test' question.id %}"> <i class="bi bi-plus-lg"></i> New Test </a>
    </div>
    <br>

    {% for test in question.evaluationinputoutput_set.all %}
    <form action="{% url 'in_out-test-update' test.id %}" method='post'>
        <div class="row input_output_test">
            <div class="col-5">
                <textarea name="input" id="input">{{ test.input }}</textarea>
            </div>
            <div class="col-5">
                <textarea name="output" id="output">{{ test.output }}</textarea>
            </div>
            <div class="col-2">
                <div class="d-flex flex-column in-out-test-buttons">
                    <div class="mb-auto">
                        <button type="submit" title='save test' class="btn btn-success">
                            <i class="bi bi-check-circle"></i>
                        </button>
                    </div>
                    <div>
                        <a href="{% url 'in_out-test-toogle-visibility' test.id %}" title='toogle visibility of test'>
                            <div class="btn">
                                {% if test.visible %}
                                <i class="bi bi-eye"></i>
                                {% else %}
                                <i class="bi bi-eye-slash"></i>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    <br>
                    <div>
                        <a href="{% url 'in_out-test-delete' test.id %}" title='delete test'>
                            <div class="btn btn-danger">
                                <i class="bi bi-x"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endfor %}
</div>

<br>
<br>
<div class="form-widgets-area">
    <a href="{% url 'course-detail' question.section.course.id %}">Back</a>
</div>

{% endblock %}