{% extends "testr/base.html" %}

{% block content %}

<div class="h1">Question Report</div>

{% if data %}
<div class="h3">
    {{ question.name }}
</div>

<div>
    <center>
        <a href="{% url 'question-rejudge-all' question.id %}">Run Autojudge Again</a>
    </center>
</div>
<br>
<div class="row">
    <div class="col text-center border"><b>username</b></div>
    <div class="col text-center border"><b>first name</b></div>
    <div class="col text-center border"><b>last name</b></div>
    <div class="col text-center border"><b>status</b></div>
    <div class="col text-center border"><b>Download</b></div>
</div>
{% for d in data %}
<div class="row">
    <div class="col text-center border">{{ d.student.username }}</div>
    <div class="col border">{{ d.student.first_name }}</div>
    <div class="col border">{{ d.student.last_name }}</div>
    <div class="col text-center border">
        {% if d.submission_id %}
        <a href="{% url 'submission-detail' d.submission_id %}" class='{{d.class}}'>
            {{ d.status }}
        </a>
        {% else %}
        {{ d.status }}
        {% endif %}
    </div>
    <div class="col text-center border">
        {% if d.submission_id %}
        <a href="{% url 'submission-file' d.submission_id %}">
            <i class="bi bi-download"></i>    
        </a>
        {% else %}
        -
        {% endif %}
    </div>
</div>
{% endfor %}
{% endif %}

<br>
<div>
    <a href="{% url 'question-detail' question.id %}">Back</a>
</div>

{% endblock %}