{% extends "testr/base.html" %}

{% block content %}

<div class="h1"> {{ submission.question.name }} </div>

<div class="submission-detail-content">
    <div>
        <div class="h2"> General Information </div>
        <div> <b> User: </b> {{ submission.student.username }} </div>
        <div> <b> File: </b> {{ submission.file_name }} </div>
        <div> <b> Created At: </b> {{ submission.created_at }} </div>
        <div> <b> Submission UUID: </b> {{ submission_uuid }} </div>
        <div>
            <b> Status: </b>
            <span class='submission-status-{{submission.status}}'>
                {{ submission.status_label }}
            </span>
        </div>
    </div>

    <br>

    {% if error_msgs %}
    <div class="h2 text-danger"> Error Messages </div>
    <div>
        {% for msg in error_msgs %}
        <div class="submission-error-msg text-danger"> {{ msg | safe }} </div>
        {% endfor %}
    </div>
    {% endif %}
    <br>
    <br>
    <div><a href="{% url 'question-detail' submission.question.id %}">Back</a></div>
</div>


{% endblock %}