{% extends "codetest/base.html" %}

{% block content %}

<div class="h1">Course Editor</div>

{% if perms.codetest.change_course %}
<form action="" method="post">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>


    <div class="form-widgets-area">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <input class='btn btn-success' type="submit" value="Save" />
            </div>

            {% if course %}
            {% if perms.codetest.delete_course %}
            <div class="ml-auto p-2">
                <a href="{% url 'course-delete' course.id %}">
                    <div class="btn btn-danger">
                        Delete
                    </div>
                </a>
            </div>

            {% endif %}
            {% endif %}

        </div>
    </div>

</form>
{% endif %}

<div class="form-widgets-area">
    <a href="{{ request.META.HTTP_REFERER | escape }}">Back</a>
</div>

{% endblock %}