{% extends "codetest/base.html" %}

{% block content %}

<div>
    <span class="h1">{{ course.name }} </span>
    {% if perms.codetest.change_course %}
    <a href="{% url 'course-update' course.id %}"><i class="bi bi-pencil"></i></a>
    <div>
        <i>
            Enrollment link:
            <span>
                http://{{ request.get_host }}{% url 'enroll-course' course.id course.enroll_password %}
            </span>
        </i>
    </div>
    {% else %}
    <a href="{% url 'unenroll-course' course.id %}">Unenroll</a>
    {% endif %}
</div>

<div>
    <a href="{% url 'courses' %}">Back</a>
</div>

<div>

    {% if perms.codetest.add_section %}
    <div>
        <a href="{% url 'section-create' course.id %}"><i class="bi bi-plus-square"></i> New Section</a>
    </div>
    {% endif %}

    {% for section in course.section_set.all %}
    <div>
        {% if perms.codetest.change_section %}
        <a href="{{ section.get_absolute_url }}">Section: {{ section.name }}</a>
        {% else %}
        Section: {{ section.name }}
        {% endif %}

        {% if perms.codetest.add_question %}
        <div>
            <a href="{% url 'question-create' section.id %}"><i class="bi bi-plus-square"></i> New Question</a>
        </div>
        {% endif %}

        {% for question in section.question_set.all %}
        <div>
            {% if perms.codetest.change_section %}
            <a href="{{ question.get_absolute_url }}">Question: {{ question.name }}</a>
            {% else %}
            <a href="{% url 'question-detail' question.id %}">Question: {{ question.name }}</a>
            {% endif %}
        </div>
        {% empty %}
        <div>No questions in the section yet.</div>
        {% endfor %}

    </div>
    {% empty %}
    <div>No sections in the course yet.</div>
    {% endfor %}
</div>

{% endblock %}