{% extends "codetest/base.html" %}

{% block content %}

{% if perms.codetest.change_course %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />

    {% if course %}
    {% if perms.codetest.delete_course %}
    <a href="{% url 'course-delete' course.id %}">Delete</a>
    {% endif %}
    {% endif %}
</form>
{% endif %}

{% if course %}
<a href="{% url 'course-detail' course.id %}">Back</a>
{% else %}
<a href="{% url 'courses' %}">Back</a>
{% endif %}


{% endblock %}