{% load static %}

<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="{% static 'codetest/css/error_page.css' %}" rel="stylesheet">
</head>

<body>
    <div>
        <i class="bi bi-emoji-dizzy error-emoji"></i>
    </div>
    <div>
        <div class="error-text">Error</div>
    </div>
    <div>
        <div class="error-message">
            {{ error_msg }}
        </div>
    </div>
    <div>
        <div class="back-link">
            <center>
                <a href="{% url 'logout' %}?next={% url 'login' %}">Back to Code Test</a>
            </center>
        </div>
    </div>
</body>

</html>