{% extends 'codetest/base.html' %}

{% block content %}

<h1> Não existem cursos criados ainda. </h1>

{% endblock %}

{% block scripts %}

{% load static %}
<!--
<script type="text/javascript" src="{% static 'scrum/js/task.js' %}"></script>
<script type="text/javascript" src="{% static 'scrum/js/task_list.js' %}"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (event) => {
        make_task_lists_sortable();
        make_dates_pickable();
    });
</script>
-->
{% endblock %}