{% extends "codetest/base.html" %}

{% block content %}

<div class="h1">Question Editor</div>

{% if perms.codetest.change_question %}
<form action="" method="post">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>

    <div class="form-widgets-area">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <input class='btn btn-success' type="submit" value="Save" />
            </div>

            {% if question %}
            {% if perms.codetest.delete_question %}
            <div class="ml-auto p-2">
                <a href="{% url 'question-delete' question.id %}">
                    <div class="btn btn-danger">
                        Delete
                    </div>
                </a>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>

</form>
{% endif %}

<div class="in_out_tests">
    <div class="h2 text-center"> Input/Output Tests </div>
    <div class="text-center"> Left column is the input and right column is the output </div>
    <div class='text-center'>
        <a href="{% url 'question-create-in_out-test' question.id %}"> <i class="bi bi-plus-lg"></i> New Test </a>
    </div>
    <br>

    {% for test in question.evaluationinputoutput_set.all %}
    <form action="{% url 'in_out-test-update' test.id %}" method='post'>
        <div class="row input_output_test">
            <div class="col">
                <textarea name="input" id="input">{{ test.input }}</textarea>
            </div>
            <div class="col">
                <textarea name="output" id="output">{{ test.output }}</textarea>
            </div>
            <div class="col-1">
                <div class="d-flex flex-column text-center in-out-test-buttons">
                    <div class="mb-auto">
                        <button type="submit" title='save test' class="btn btn-success">
                            <i class="bi bi-check-circle"></i>
                        </button>
                    </div>
                    <div>
                        <a href="{% url 'in_out-test-delete' test.id %}" title='delete test'>
                            <div class="btn btn-danger">
                                <i class="bi bi-x"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endfor %}
</div>

<br>
<br>
<div class="form-widgets-area">
    <a href="{{ request.META.HTTP_REFERER | escape }}">Back</a>
</div>

{% endblock %}