{% extends "codetest/base.html" %}

{% block content %}

<div>
    <span class="h1"> {{ question.name }} </span>

    {% if perms.codetest.change_question %}
    <a href="{% url 'question-update' question.id %}"><i class="bi bi-pencil"></i></a>
    {% endif %}

    {% if perms.codetest.delete_question %}
    <a href="{% url 'question-delete' question.id %}"><i class="bi bi-x-lg text-danger"></i></a>
    {% endif %}
</div>

<div class="question-description">
    {{ question.description }}
</div>

<br>

{% for test in question.evaluationinputoutput_set.all %}
<div class="row input_output_test">
    <div class="col">
        <div><b>Input {{ forloop.counter }}:</b></div>
        <div>{{ test.input_as_html | safe }}</div>
    </div>
    <div class="col">
        <div><b>Output {{ forloop.counter }}:</b></div>
        <div>{{ test.output_as_html | safe }}</div>
    </div>
</div>
{% endfor %}

<hr>

<form action="{% url 'question-submission' question.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>

    <div class="form-widgets-area">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <input class='btn btn-success' type="submit" value="Send">
            </div>
        </div>
    </div>

</form>

{% if user_submissions %}
<div class="h2 text-center"> Submissions </div>
<br>
<div>
    <div class="row text-center submissions-header">
        <div class="col"> Filename </div>
        <div class="col"> Created At </div>
        <div class="col"> Status </div>
        <div class="col"> Report </div>
    </div>

    {% for submission in user_submissions %}
    <div class="row  text-center submissions-rows">
        <div class="col"> {{ submission.file_name }} </div>
        <div class="col"> {{ submission.created_at }} </div>
        <div class='col submission-status-{{submission.status}}'>
            {{ submission.status_label }}
        </div>
        <div class="col">
            <a href="{% url 'submission-detail' submission.id %}"> View </a>
        </div>
    </div>
    {% endfor %}

</div>

{% else %}

<div>There are no submissions yet.</div>

{% endif %}

<br>
<br>

<div><a href="{% url 'course-detail' question.section.course.id %}">Back</a></div>

{% endblock %}