{% extends "codetest/base.html" %}

{% block content %}

<div class="h1">
    <span class="h1"> {{ question.name }} </span>

    {% if perms.codetest.change_question %}
    <a href="{% url 'question-update' question.id %}"><i class="bi bi-pencil"></i></a>
    {% endif %}

</div>

<div>
    {{ question.description }}
</div>

<form action="{% url 'question-submission' question.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>
    <input type="submit" value="Submit">
</form>

{% if question.submission_set.all %}
<div>
    {% for submission in question.submission_set.all %}
    <div>
        Submission at {{ submission.created_at }} - File: {{ submission.file_name }} - Status:
        {{ submission.status_label }}
        </a>
    </div>
    {% endfor %}
</div>

{% else %}

<div>There are no submissions yet.</div>

{% endif %}


<div><a href="{% url 'course-detail' question.section.course.id %}">Back</a></div>

{% endblock %}